@model FlotDotNet.FlotChart

@{
    ViewData["Title"] = "Basic Usage";
}

@section Scripts {
    @Html.Raw(Model.Plot())
}

<div class="demo-container">
    @Html.Raw(Model.Placeholder(new { @class = "demo-placeholder" }))
</div>

<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>

<p>The axes are automatically scaled.</p>