@model FlotDotNet.FlotChart

@{
    ViewData["Title"] = "Basic Usage";
}

<div class="demo-container">
    <div id="@Model.PlaceholderId" class="demo-placeholder"></div>
</div>

<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>

<p>The axes are automatically scaled.</p>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(Model.Plot())
    </script>
}