@model FlotDotNet.FlotChart

@{
    ViewData["Title"] = "Basic Options";
}

<div class="demo-container">
    <div id="@Model.PlaceholderId" class="demo-placeholder"></div>
</div>

<p>There are plenty of options you can set to control the precise looks of your plot. You can control the ticks on the axes, the legend, the graph type, etc.</p>

<p>Flot goes to great lengths to provide sensible defaults so that you don't have to customize much for a good-looking result.</p>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(Model.Plot())
    </script>
}