@model FlotDotNet.FlotChart

@{
    ViewData["Title"] = "Series Types";
}

@section Scripts {
    @Html.Raw(Model.Plot())
}

<div class="demo-container">
    <div id="@Model.Placeholder" class="demo-placeholder"></div>
</div>

<p>Flot supports lines, points, filled areas, bars and any combinations of these, in the same plot and even on the same data series.</p>