@model FlotDotNet.FlotChart

@{
    ViewData["Title"] = "Threshold";
}

@section Scripts {
    <script src="~/lib/flot/jquery.flot.threshold.js"></script>

    <script type="text/javascript">
        function plotWithOptions(t)
        {
            chart.data.d1.threshold.below = t;
            chart.plotChart();
        }

        $(function()
        {
            plotWithOptions(0);

            $(".controls button").click(function(e)
            {
                e.preventDefault();
                var t = parseFloat($(this).text().replace("Threshold at ", ""));
                plotWithOptions(t);
            });
        });
    </script>

    @Html.Raw(Model.Plot(false))
}

<div class="demo-container">
    @Html.Raw(Model.Placeholder(new { @class = "demo-placeholder" }))
</div>

<p>With the threshold plugin, you can apply a specific color to the part of a data series below a threshold. This is can be useful for highlighting negative values, e.g. when displaying net results or what's in stock.</p>

<p class="controls">
    <button>Threshold at 5</button>
    <button>Threshold at 0</button>
    <button>Threshold at -2.5</button>
</p>